.header {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
}

.width80 {
	width: 80%;
}

.width20 {
	width: 20%;
}

input {
	height: 30px;
	border: 1px solid black;
	padding-left: 5px;
	margin-left: 0px;
}

button {
	height: 30px;
	border: 1px solid black;
	padding-left: 5px;
	margin-left: 0px;
}

.modal-window {
	position: fixed;
	background-color: rgba(200, 200, 200, 0.75);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.modal-window:target {
	opacity: 1;
	pointer-events: auto;
}

.modal-window > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 2rem;
	background: #fff;
	color: black;
}

.modal-window header {
	font-weight: bold;
}

.modal-close {
	color: black;
	line-height: 50px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 70px;
	text-decoration: none;
}

.modal-close:hover {
	color: #000;
}

.modal-window h3 {
	margin: 0 0 15px;
}
