.formBox {
	display: flex;
	flex-direction: column;
	margin-top: 10vh;
	align-items: center;
}

.form {
	display: flex;
	flex-direction: column;
	width: 70%;
}

.linksBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

.links {
	display: flex;
}

.links span {
	margin-right: 3px;
}
